.MesageElementBlock{
    width: 100%;
    height: fit-content;
    display: flex;

}
.MesageElement{
    background-color: #202020;
    width: fit-content;
    max-width: 430px;
    margin: 5px 19%;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow-wrap: anywhere; 
    border-bottom-left-radius: 0;
    
}


.MesageElement > p {
    font-size: 15px;
    color: white;
    font-weight: 500;
}


.Mtime {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.Mtime > p {
    font-size: 15px;
    color: gray;
}    

